*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.app{
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
  overflow: auto;
}

.page{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  background-color: #F8F8FF;
}

.page-header{
  position: relative;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.content{
  width: 100%;
  margin-left: 250px;
  overflow: auto;
}

.clock{
  font-size: 1.9rem;
  font-weight: bold;
}

/* ORDERS-PAGE */

.orders{
  margin: 0 5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.orders-card{
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  box-shadow: 0px 0px 5px -2px rgba(126,126,126,0.36);
}

.status{
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: #29477e;
  color: white;
}

.orders-list{
  display: flex;
  flex-flow: column;
}

.order{
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.order:last-child{
  border-bottom: 0px;
}

.order-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-order{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

/* .quick-view-order{
  padding: 10px;
  padding-bottom: 10px;
} */

/* enter
.fade-enter{
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 200ms ease-out;
}

/* exit */
/* .fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: 200ms ease-in;
}
.fade-exit-done {
  opacity: 0;
}  */

.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  display: flex;
  left: 0px;
  flex-direction: column;
  width: 150px;
  background-color: white;
  color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 4px;
  padding: 0.5rem 0;
  z-index: 1;
  overflow: auto;
}

.dropdown-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus{
  background-color: rgb(240, 240, 240);
}

.dropdown-item:active{
  transform: translateY(1px);
}
/* DELETE ORDER DROPDOWN */
.delete-order-dropdown-container{
  position: relative;
}

.delete-order-dropdown{
  position: absolute;
  right: 0px;
  width: clamp(90%, 300px, 500px);
  background-color: white;
  z-index: 2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.delete-order-dropdown-body{
  text-align: center;
  font-weight: 600;
}

.delete-order-dropdown-footer{
  display: flex;
}

/* *************** */

.react-icon:hover{
  cursor: pointer;
}
/* SIDEBAR */

.sidebar{
  position: fixed;
  width: 250px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.sidebar-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  height: 9rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #29477e;
  color: white;
}
.sidebar-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #29477e;
  color: white;
}

.sidebar-link{
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 0.75rem;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 400;
  width: 100%;
  color: white;
}

.sidebar-link.selected{
  background-color: rgba(255, 255, 255, 0.411);
}

.sidebar-link:hover{
  background-color: rgba(255, 255, 255, 0.24);
}

.sidebar-footer{
  height: 10rem;
  background-color: #29477e;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.sidebar-footer div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
}

.sidebar-footer div:hover{
  cursor: pointer;
}

/* FOODS PAGE */
.foods-table{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 5rem;
  margin-bottom: 2rem;
}

.table-btns{
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
}

.foods-table table {
  display: inline-block;
  overflow-y: auto;
  max-height: 80vh;
  border-collapse: collapse;
  font-size: 1.3rem;
  width: auto;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.foods-table thead tr{
  background-color: #29477e;
  color: white;
  text-align: left;
  font-weight: bold;
}

.foods-table th,
.foods-table td{
  padding: 1rem 1.5rem;
}

.foods-table tbody tr{
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid lightgrey;
}

/* .foods-table tbody .foods-row:nth-of-type(even){
  background-color: #f3f3f3
} */

.foods-table tbody tr:last-of-type{
  border-bottom: 3px solid #29477e;
}

.foods-dropdown-menu-container{
  position: relative;
}

.foods-dropdown-menu{
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  min-width: 12rem;
  left: 7rem;
  top: -2rem;
  padding: 0.5rem 0;
  box-shadow: 0px 0px 5px -2px rgba(126,126,126,0.36);
}

.pickuptimes-dropdown-menu{
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  min-width: 12rem;
  top: -2rem;
  left: 16.5rem;
  padding: 0.5rem 0;
  box-shadow: 0px 0px 5px -2px rgba(126,126,126,0.36);
}

.foods-dropdown-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.foods-dropdown-item:hover{
  background-color: #F0F0F0;
  cursor: pointer;
}

.foods-searchbar{
  position: absolute;
  width: auto;
  margin-left: 7rem;
  top: -2rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 5px -2px rgba(126,126,126,0.36);
}

.foods-searchbar input{
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  width: 20rem
}

.foods-searchbar input:active,
.foods-searchbar input:focus{
  outline: none;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.foods-searchbar label{
  font-size: 1.2rem;
}

.foods-table tbody .timeslot-active{
  background-color: #90EE90;
} 
.foods-table tbody .timeslot-inactive{
  background-color: #F08080;
}
/* add form */

.add-form{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  width: clamp(500px, 600px, 700px);
  gap: 2rem;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.add-form-header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: #29477e;
  color: white;
  padding: 1rem;
}

.add-form-title{
  font-size: 2.5rem;
  background-color: white;
}

.add-form form{
  display: flex;
  width: 100%;
  padding: 2rem;
  padding-top: 1rem;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.add-form textarea,
.add-form input{
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.add-form textarea:focus,
.add-form textarea:active,
.add-form input:focus,
.add-form input:active{
  outline: none;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.add-form textarea{
  font-family: inherit;
  resize: none;
}

.add-form label{
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-form button{
  margin-top: 1rem;
  width: 30%;
  padding: 1rem 2rem;
  align-self: center;
  border: none;
  font-size: 1.3rem;
  color: white;
  background-color: #75a0fd;
}

.add-form button:hover{
  cursor: pointer;
}

.foods-table form{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}

.foods-table input{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.foods-table input:focus{
  outline: none;
}

/* react-toggler */
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

/* LOGIN PAGE */
.login-page{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-card{
  width: clamp(400px, 500px, 100%);
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2.5rem;
  box-shadow: 3px 3px 5px grey;
}

.login-card-header{
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.login-card label{
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1rem;
}

.login-card input{
  padding: 0.75rem 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 1px solid grey;
}

.login-card input:active,
.login-card input:focus{
  outline: none;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.login-card button{
  font-size: 1.5rem;
  align-self: center;
  padding: 0.75rem 1.5rem;
  background-color:#0074D9;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 0.5rem
}

.register-card-header{
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.register-title{
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: flex-start;
}